body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    max-width: 100%;
    margin: auto;
    align-items: center;
    justify-content: center;
    
  }
  #module {
    display: grid;
    margin: auto;
    justify-content: center;
    justify-items: center;       
  }

  #video {
    margin: auto;
    max-width: 900px;
  }
  h1, h2, h3 {
    color: #E91E63;
  }
  h1 {
    font-size: 2em;
    margin-top: 0;
  }
  h2 {
    font-size: 1.5em;
    margin-top: 40px;
  }
  h3 {
    font-size: 1.2em;
    margin-top: 30px;
  }
  ul {
    padding-left: 20px;
  }
  .highlight {
    background-color: #ffe0f0;
    padding: 10px;
    border-left: 5px solid #c71585;
    margin-bottom: 20px;
  }
  section.content-section {
    font-family: Arial, sans-serif;
    color: #333;
    line-height: 1.6;
    max-width: 100%;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    margin-bottom: 40px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0,0,0,0.05);
  }

  #HomeBtn {
    
    background-color: #ff5ca2;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s ease;
  }

  #HomeBtn:hover {
    background-color:#e14d8c; 
  }
  #myBtn {
    display: none; 
    position: fixed; 
    bottom: 10px; 
    right: 20px; 
    z-index: 99; 
    border: none; 
    outline: none;
    background-color: pink;
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px;
    font-size: 18px;
  }
  
  #myBtn:hover {
    background-color: #e14d8c; 
  }

  .dropdown-nav {
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
  }
  
  .dropdown-btn {
    background-color: #ff5ca2;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s ease;
  }
  
  .dropdown-btn:hover {
    background-color: #e14d8c;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 250px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.15);
    border-radius: 10px;
    z-index: 1000;
  }
  
  .dropdown-content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 500;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    border-radius: 10px;
  }
  
  #videoDiv {
    margin: auto;
    width: 50%;
    justify-content: center;
  }